table#board {
  font-family: 'Indie Flower', cursive;
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

table#board tr {
  width: 100%;
  height: 33.333%;
}

table#board td {
  width: 33.333%;
  height: 100%;
  border: 6px solid #222;
}

table#board td::after {
  content: '';
  display: block;
}

table#board td .piece {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 5em;
  background-color: white;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table#board td .piece-free {
  color: white;
}

table#board td .piece-free-hover {
  cursor: pointer;
  color: #337ab7;
}

table#board td .piece-user {
  color: #337ab7;
}

table#board td .piece-computer {
  color: #d9534f;
}

table#board td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

table#board td:nth-of-type(2) {
  border-top-color: transparent;
}

table#board td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

table#board tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.row-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.status-box {
  border-radius: 10px;
  border: 2px ridge;
}

.game-title {
  color: #d9534f;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}
.status {
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: #337ab7;
}

.ribbon {
  top: 3.2em;
  right: -3.7em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color:#fff;
  display: block;
  padding: .6em 3.5em;
  position: fixed;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #337ab7;
}

.ribbon:hover,
.ribbon:link,
.ribbon:visited,
.ribbon:hover,
.ribbon:active {
  color: white;
}

.ribbon:hover {
  text-decoration: underline;
}