table#board {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

table#board tr {
  width: 100%;
  height: 33.333%;
}

table#board td {
  width: 33.333%;
  height: 100%;
  border: 6px solid #222;
}

table#board td::after {
  content: '';
  display: block;
}

table#board td .piece {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 5em;
  background-color: white;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table#board td .piece-free {
  cursor: pointer;
  color: white;
}

table#board td .piece-free:hover {
  color: #1b809e;
}

table#board td .piece-user {
  color: #1b809e;
}

table#board td .piece-computer {
  color: #5cb85c;
}

table#board td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

table#board td:nth-of-type(2) {
  border-top-color: transparent;
}

table#board td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

table#board tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.row-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.player-icon {
}